{% extends 'layout.html.twig' %}
{% block content %}

    {% block image %}
        <h1>Some art you could be interest by: </h1>
    <div class="container-fluid w-70 " >
        <div class="container">

            <a href="/Art/artConsult/{{ details.objectID }}"><img class="indexImage" src="{{ details.primaryImageSmall }}"></a>
            <div class="">
                <h3>Title: {{ details.title }}</h3>
                <p>Exposition place: {{ details.repository }} Artist: {{ details.artistDisplayName }}</p>

            </div>
            <h2>Peut-on se servir de l'objet ci-dessus pour donner de l'élan à un Pigeon?</h2>
            <h3>Voter ici: </h3>
            <a href="/Art/index"><button>Oui</button></a>
            <a href="/Art/index"><button>Non</button></a>
        </div>
    {% endblock %}
{% endblock %}