{% extends 'layout.html.twig' %}
{% block content %}

    {% block image %}
        <img src="/assets/images/love.svg" width="200px" height="auto" class="pigeon" onclick="pigeonLeave()" style="">
        <div class="text-div">
            <h2 class="content-deco">Bienvenue sur le site des Zartistes du Oueb </h2>
            <h3 class="content-deco">Ici tu peux découvrir des oeuvres d'art du monde entier sans bouger de ton canapé.</h3>
            <h3 class="content-deco">Voici une oeuvre choisie au hasard, tu peux cliquer dessus pour avoir plus d'informations.</h3>
        </div>
        <div class="container-fluid w-70 ">
            <div class="row d-flex flex-wrap">
                <div class="col-6">
                    <a class="content-deco" href="/Art/artConsult/{{ details.objectID }}">
                        <img class="indexImage" src="{{ details.primaryImageSmall }}">
                    </a>
                    <a href="/Art/artConsult/{{ details.objectID }}" class="btn btn-primary">Consult this art</a>
                </div>
                <div class="col-6 text-div">
                    <h1 class="content-deco">Title:</h1>
                    <h2 class="content-deco">{{ details.title }}</h2>
                    <h1 class="content-deco">Exposition place:</h1>
                    <h2 class="content-deco">{{ details.repository }}</h2>
                    <h1 class="content-deco"> Artist: </h1>
                    <h2 class="content-deco">{{ details.artistDisplayName }}</h2>

                </div>
            </div>
            <div id="questionpigeon" style="display: none">
                <h2 class="content-deco">Peut-on se servir de l'oeuvre ci-dessus pour donner de l'élan à un Pigeon?</h2>
                <h4 class="content-deco">Voter ici: </h4>
                <a href="/Art/index">
                    <button onclick="pigeonBack()">Oui</button>
                </a>
                <a href="/Art/index">
                    <button onclick="pigeonBack()">Non</button>
                </a>
            </div>
        </div>
    {% endblock %}
{% endblock %}