{% extends 'layout.html.twig' %}
{% block title %}Consult {{ details.title }}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="col-5 text-div center">
            <h1 class="center">Title: {{ details.title }}</h1>
            {% if details.artistDisplayName == "" %}
                <h3 class="center"> by an unknown artist</h3>
            {% else %}
                <h3 class="center"> by {{ details.artistDisplayName }}</h3>
            {% endif %}
        </div>
        <div class="image center my-5">
            <img src="{{ details.primaryImage }}" class="image cadre">
        </div>
        <div class="d-flex flex-wrap">
            <div class="col-6 text-div center">
                {% if details.repository is defined %}
                    <h2>Exposed at: {{ details.repository }}</h2>
                {% endif %}
            </div>
            <div class="col2 ">
                <img onclick="marron()" src="/assets/images/merlin.jpg">
            </div>
        </div>
    </div>
{% endblock %}
